.article-list ul{
    list-style-type: none;
}
.article-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    margin-top: 30px;
    /* gap: 30px; */
    gap: 2.1rem;
    padding: 2rem;
    row-gap: 50px;
    width: 90%;
    
  /* max-width: 1200px; */
}
/* 
.article-list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
  width: 100%;
  max-width: 1200px;
} */