.article-detail-container {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;  
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.article-category {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 19px;
}

.article-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #222;
}

.article-image {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.article-content {
  white-space: pre-line;
  line-height: 1.7;
  font-size: 1.05rem;
  color: #1f1e1e;
  padding: 10px;
}



.summary-btn {
  padding: 10px 20px;
  background-color: #2f8532; 
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 20px;
}

.summary-btn:hover {
  background-color: #0e0f0e;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


