.sports{
    padding-top:30px;
}
.trending{
  margin-top:120px;
  font-size: 2.1rem;
  font-weight: 600;
  padding-left: 32px;
  color: #222;
  margin-bottom: 0.3rem;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}