.header{
  width: 100%;
  margin: 30px auto;
}

.slider {
  position: relative;
  width: 100%;
  margin: 30px auto;
  height: 85vh; 
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  
  filter: brightness(50%);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.5vw;
    max-width: 60%;
    bottom: 0%;
    /* top: 50%; */
    transform: translateY(-50%);
    left: 6vw;
    color:white;
    animation: fadein 3s;
}
.header-contents h2{
    font-weight: 500;
    font-size: max(2.8vw, 20px);
}
.header-contents p{
    font-size: 1vw
}

/* Navigation Buttons */
.nav-btn{
  
  /* transform: translateY(-50%); */
  padding: 0px 10px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.prev {
  color: white;
  background:none;
  border: none;
  font-size: 20px;
}

.next {
  color: white;
  background:none;
  border: none;
  font-size: 20px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }
    .slider {
        height: 70vh; /* smaller height for phones */
    }
}

@media (max-width:950px){
 
    .slider {
        height: 60vh; /* smaller height for phones */
    }

}


@media (max-width:750px){
    .header-contents{
        max-width: 65%;
        bottom: 0%;
        transform: translateY(-50%);
    }
    .header-contents p{
        display: none;
    }
    
}