.loginpopup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.logincontainer{
    place-self: center;
    background-color: rgb(255, 255, 255);
    width: max(25vw,430px);
    color: rgb(130, 129, 129);
    display: flex;
    flex-direction: column;
    gap:25px;
    padding: 25px 30px;
    font-size: 14px;
    animation: fadein 0.5s;
}
.logintitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.logintitle img{
    width: 16px;
    cursor: pointer;
}
.logininputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logininputs input{
    padding: 10px;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
}
.logincontainer .submitbtn{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: whitesmoke;
    background-color: black;
    font-size: 15px;
    cursor: pointer;
}
.logincondition{
    display: flex;
    align-items:start;
    gap: 8px;
    margin-top: -15px;
}
.logincondition input{
    margin-top: 5px;
}

.loginpopup p span{
    color: black;
    font-weight: 500;
    cursor: pointer;
}

/* Google Login Button */

.googlelogincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.googleloginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  max-width: 320px;
  padding: 10px 0px;
box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #555;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.googleloginbtn:hover {
  transform: scale(1.02);
}

@media (max-width:400px){
    .logincontainer{
        width: max(79vw,270px);
        font-size: 12px;
    }
}