
.home-news-card {
  width: 330px;
  height: 380px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.home-news-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.home-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Inter, sans-serif;
}


.home-title {
  font-size: 25px;
  font-weight: 600;
  color: #222;
  line-height: 1.3;
  /* font-family: 'Lora', serif; */
}

.home-text {
  font-size: 14px;
  color: #5c5a5a;
  
}
